@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Top_of_Atmosphere.jpg/1920px-Top_of_Atmosphere.jpg");

}

.parent-container {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr min-content 1fr;

}

.search {
    display: none;
    text-align: center;
}

.logo {
    display: none;
}

.search h2 {
    margin: 10px;
}

.inner-container {
    color: rgb(233, 233, 233);
    background: rgba(26, 26, 26, 0.5);
    grid-area: 2 / 2 / span 1 / span 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px 4px rgba(26, 26, 26, 0.5);
    padding: 20px;
    font-family: 'Lato', sans-serif;

}


.circle-div {
    position: relative;
    width: 90px;
    height: 90px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    z-index: 0;
    border-radius: 50%;
    /* transform: translate(0, 50%); */

}

.cog-container {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    animation: rotate 6s linear infinite reverse;
}

.cog-inner {
    transform: translate(0px, -2px) scale(1.05);
}

#cog1 {
    position: absolute;
    left: 25%;
    top: 25%;
    animation: rotate 1s linear infinite;
    animation-direction: reverse;
}

#cog2 {
    position: absolute;
    left: 12%;
    top: 13%;
    animation: rotate .5s linear infinite;
    animation-direction: normal;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.circle-svg {
    position: relative;
    stroke-linecap: round;
    transform: rotate(0);
    stroke-dasharray: 299;
    stroke-dashoffset: 299;
    animation: counter 3s linear infinite, rotator 4s linear infinite;
    z-index: 10;
}

@keyframes rotator {
    to {
        transform: rotate(360deg);
    }
}

@keyframes counter {
    0% {
        stroke-dashoffset: 299;
    }

    100% {
        stroke-dashoffset: -299;
    }
}

.svg-container {
    width: 100px;
    height: 100px;
    transform: translate(0, -100%);
}


.center {
    max-height: 100px;
    margin: 10px;
}

.loading {
    display: none;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    font-family: 'Reenie Beanie', cursive;
    transform: scale(.1);
    transition: transform 2s ease-in-out forward;
}

#submit-button {
    font-size: 1.5em;
    border-radius: 5px;
    margin: 0px 10px;

}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button {
    width: 100px;
    height: 50px;
    background: rgb(82, 82, 82);
    color: white;
    font-size: 1.3em;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.425);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.35);
}

.button:active {
    transform: scale(0.97);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#input-text {
    border-radius: 10px;
    font-size: 1.5em;
    margin: 10px 0px;
    padding: 3px 10px;
}

.show {
    display: inline;
    transform: scale(1);
}